{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Home - CyberPanel" %}{% endblock %}
{% block content %}


{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="container">
<div id="page-title">
   <h2>{% trans "Home" %}</h2>
   <p>{% trans "Use the tabs to navigate through the control panel." %}</p>
</div>


    <!--- Hide statistics for non-admins--->

    <div class="mx-10 col-lg-9 panel col-md-push-50">
        <div class="panel-body">
            <h3 class="content-box-header">
            {% trans "Something went wrong..." %}
            </h3>

            <div class="example-box-wrapper mt-5">
                 <div class="alert alert-danger">
                        <h4 class="alert-title">Error</h4>
                        <p>Error: {{ error_message }}</p>
                    </div>
            </div>

    </div>

    </div>




</div>


{% endblock %}
