{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Package Manager - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->


    <div ng-controller="listOSPackages" class="container">

        <div id="page-title">
            <h2>{% trans "Package Manager" %}</h2>
            <p>{% trans "On this page you can manage your system packages. On backend system available package manager is used (apt/yum)." %}</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">

                        <div class="example-box-wrapper">
                            <ul class="nav-responsive nav nav-tabs">
                                <li class="active"><a href="#tab4" data-toggle="tab">Updates</a></li>
                                <li><a ng-click="fetchPackages()" href="#tab6" data-toggle="tab">All Packages</a></li>
                                <li><a href="#tab7" data-toggle="tab">Settings</a></li>
                                <img ng-hide="cyberpanelLoading"
                                     src="{% static 'images/loading.gif' %}">
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab4">
                                    <p>Howdy, I'm in Section 4.</p>
                                </div>
                                <div class="tab-pane" id="tab6">
                                    <div class="col-sm-10"
                                         style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888; margin-bottom: 2%">
                                        <input placeholder="Search..."
                                               ng-model="packSearch" name="packSearch" type="text"
                                               class="form-control" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <select ng-model="recordsToShow" ng-change="fetchPackages()"
                                                    class="form-control" id="example-select">
                                                <option>10</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">

                                            <table class="table" style="margin: 0px; padding: 0px">
                                                <thead>
                                                <tr>
                                                    <th>{% trans "Package" %}</th>
                                                    <th>{% trans "Description" %}</th>
                                                    <th>{% trans "Status" %}</th>
                                                    <th>{% trans "Version" %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="record in allPackages | filter:packSearch">
                                                    <td ng-bind="record.package"></td>
                                                    <td ng-bind="record.description"></td>
                                                    <td ng-bind="record.status"></td>
                                                    <td ng-bind="record.version"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="margin-top: 2%" class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-9">
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select ng-model="currentPage" class="form-control"
                                                                ng-change="fetchPackages()">
                                                            <option ng-repeat="page in pagination">{$ $index + 1 $}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> <!-- end row -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab7">
                                    <p>Howdy, I'm in Section 7.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
