{% extends "baseTemplate/indexVMM.html" %}
{% load i18n %}
{% block title %}{% trans "IP Management - CyberPanel" %}{% endblock %}
{% block content %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->


<div class="container">
<div id="page-title">
   <h2>{% trans "IP Management" %}</h2>
   <p>{% trans "IPs are needed to create virtual machines, navigate through this page to manage IPs." %}</p>
</div>
<div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
            {% trans "Available Functions" %}
            </h3>
           <div class="example-box-wrapper">

                <div class="row">
        <div class="col-md-4">
                        <a href="{% url 'createIPPool' %}" title="{% trans 'Create IP Pool' %}" class="tile-box tile-box-shortcut btn-primary">
                            <div class="tile-header">
                                {% trans "Create IP Pool" %}
                            </div>
                            <div class="tile-content-wrapper">
                                <i class="glyph-icon icon-dashboard"></i>
                            </div>
                        </a>
        </div>


        <div class="col-md-4">
                        <a href="{% url 'listIPPools' %}" title="{% trans 'List IP Pools' %}" class="tile-box tile-box-shortcut btn-primary">
                            <div class="tile-header">
                                {% trans "List IP Pools" %}
                            </div>
                            <div class="tile-content-wrapper">
                                <i class="glyph-icon icon-dashboard"></i>
                            </div>
                        </a>
        </div>
    </div>

           </div>
        </div>
</div>


</div>


{% endblock %}