/* Boilerplate  */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    color: #000;
    background: #ff0;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: '\201C''\201D''\2018''\2019';
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em;
    border: 1px solid #c0c0c0;
}
legend {
    padding: 0;
    border: 0;
}
button {
    margin: 0;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
}
button[disabled] {
    cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type='search'] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
@media print {
    * {
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href)')';
    }
    abbr[title]:after {
        content: ' (' attr(title)')';
    }
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: '';
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 2cm .5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .jGrowl {
        display: none;
    }
}
small {
    font-size: 85%;
}
a {
    text-decoration: none;
}
a,
a:visited,
a:focus,
a:active,
*:visited,
*:focus,
*:active {
    outline: none;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.jqstooltip {
    box-sizing: content-box;
}


/* Grids */

.container {
    margin-right: auto;
    margin-left: auto;
}
.row,
.form-row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -10px;
    margin-left: -10px;
}
.row:before,
.row:after,
.form-row:before,
.form-row:after {
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: ' ';
}
.row:after,
.form-row:after {
    clear: both;
}
.row:after,
.form-row:after {
    clear: both;
}
[class*='col-'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
    float: left;
}
.col-xs-1 {
    width: 8.333333333333332%;
}
.col-xs-2 {
    width: 16.666666666666664%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-4 {
    width: 33.33333333333333%;
}
.col-xs-5 {
    width: 41.66666666666667%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-7 {
    width: 58.333333333333336%;
}
.col-xs-8 {
    width: 66.66666666666666%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-10 {
    width: 83.33333333333334%;
}
.col-xs-11 {
    width: 91.66666666666666%;
}
.col-xs-12 {
    width: 100%;
}
@media (min-width: 768px) {
    .boxed-layout #page-wrapper,
    .boxed-layout #page-header,
    .container {
        max-width: 750px;
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11 {
        float: left;
    }
    .col-sm-1 {
        width: 8.333333333333332%;
    }
    .col-sm-2 {
        width: 16.666666666666664%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33333333333333%;
    }
    .col-sm-5 {
        width: 41.66666666666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.333333333333336%;
    }
    .col-sm-8 {
        width: 66.66666666666666%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33333333333334%;
    }
    .col-sm-11 {
        width: 91.66666666666666%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-push-1 {
        left: 8.333333333333332%;
    }
    .col-sm-push-2 {
        left: 16.666666666666664%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-4 {
        left: 33.33333333333333%;
    }
    .col-sm-push-5 {
        left: 41.66666666666667%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-7 {
        left: 58.333333333333336%;
    }
    .col-sm-push-8 {
        left: 66.66666666666666%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-10 {
        left: 83.33333333333334%;
    }
    .col-sm-push-11 {
        left: 91.66666666666666%;
    }
    .col-sm-pull-1 {
        right: 8.333333333333332%;
    }
    .col-sm-pull-2 {
        right: 16.666666666666664%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-4 {
        right: 33.33333333333333%;
    }
    .col-sm-pull-5 {
        right: 41.66666666666667%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-7 {
        right: 58.333333333333336%;
    }
    .col-sm-pull-8 {
        right: 66.66666666666666%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-10 {
        right: 83.33333333333334%;
    }
    .col-sm-pull-11 {
        right: 91.66666666666666%;
    }
    .col-sm-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-sm-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
@media (min-width: 992px) {
    .boxed-layout #page-wrapper,
    .boxed-layout #page-header,
    .container {
        max-width: 970px;
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
        float: left;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-push-1 {
        left: 8.333333333333332%;
    }
    .col-md-push-2 {
        left: 16.666666666666664%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-4 {
        left: 33.33333333333333%;
    }
    .col-md-push-5 {
        left: 41.66666666666667%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-7 {
        left: 58.333333333333336%;
    }
    .col-md-push-8 {
        left: 66.66666666666666%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-10 {
        left: 83.33333333333334%;
    }
    .col-md-push-11 {
        left: 91.66666666666666%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-pull-1 {
        right: 8.333333333333332%;
    }
    .col-md-pull-2 {
        right: 16.666666666666664%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-4 {
        right: 33.33333333333333%;
    }
    .col-md-pull-5 {
        right: 41.66666666666667%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-7 {
        right: 58.333333333333336%;
    }
    .col-md-pull-8 {
        right: 66.66666666666666%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-10 {
        right: 83.33333333333334%;
    }
    .col-md-pull-11 {
        right: 91.66666666666666%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
    .col-md-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-md-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666666666666%;
    }
}
@media (min-width: 1200px) {
    .boxed-layout #page-wrapper,
    .boxed-layout #page-header,
    .container {
        max-width: 1170px;
    }
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11 {
        float: left;
    }
    .col-lg-1 {
        width: 8.333333333333332%;
    }
    .col-lg-2 {
        width: 16.666666666666664%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333333333333%;
    }
    .col-lg-5 {
        width: 41.66666666666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.333333333333336%;
    }
    .col-lg-8 {
        width: 66.66666666666666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333333333334%;
    }
    .col-lg-11 {
        width: 91.66666666666666%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-push-1 {
        left: 8.333333333333332%;
    }
    .col-lg-push-2 {
        left: 16.666666666666664%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-4 {
        left: 33.33333333333333%;
    }
    .col-lg-push-5 {
        left: 41.66666666666667%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-7 {
        left: 58.333333333333336%;
    }
    .col-lg-push-8 {
        left: 66.66666666666666%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-10 {
        left: 83.33333333333334%;
    }
    .col-lg-push-11 {
        left: 91.66666666666666%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-pull-1 {
        right: 8.333333333333332%;
    }
    .col-lg-pull-2 {
        right: 16.666666666666664%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-4 {
        right: 33.33333333333333%;
    }
    .col-lg-pull-5 {
        right: 41.66666666666667%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-7 {
        right: 58.333333333333336%;
    }
    .col-lg-pull-8 {
        right: 66.66666666666666%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-10 {
        right: 83.33333333333334%;
    }
    .col-lg-pull-11 {
        right: 91.66666666666666%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
    .col-lg-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-lg-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666666666666%;
    }
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
.no-gutter > [class*="col-"] {
    padding-left:0;
    padding-right:0;
}

 /* Paddings */
    
    .pad5A {
        padding: 5px !important;
    }
    .pad5T {
        padding-top: 5px !important;
    }
    .pad5R {
        padding-right: 5px !important;
    }
    .pad5B {
        padding-bottom: 5px !important;
    }
    .pad5L {
        padding-left: 5px !important;
    }
    .pad10A {
        padding: 10px !important;
    }
    .pad10T {
        padding-top: 10px !important;
    }
    .pad10R {
        padding-right: 10px !important;
    }
    .pad10B {
        padding-bottom: 10px !important;
    }
    .pad10L {
        padding-left: 10px !important;
    }
    .pad15A {
        padding: 15px !important;
    }
    .pad15T {
        padding-top: 15px !important;
    }
    .pad15R {
        padding-right: 15px !important;
    }
    .pad15B {
        padding-bottom: 15px !important;
    }
    .pad15L {
        padding-left: 15px !important;
    }
    .pad20A {
        padding: 20px !important;
    }
    .pad20T {
        padding-top: 20px !important;
    }
    .pad20R {
        padding-right: 20px !important;
    }
    .pad20B {
        padding-bottom: 20px !important;
    }
    .pad20L {
        padding-left: 20px !important;
    }
    .pad25A {
        padding: 25px !important;
    }
    .pad25T {
        padding-top: 25px !important;
    }
    .pad25R {
        padding-right: 25px !important;
    }
    .pad25B {
        padding-bottom: 25px !important;
    }
    .pad25L {
        padding-left: 25px !important;
    }
    .pad45A {
        padding: 45px !important;
    }
    .pad45T {
        padding-top: 45px !important;
    }
    .pad45R {
        padding-right: 45px !important;
    }
    .pad45B {
        padding-bottom: 45px !important;
    }
    .pad45L {
        padding-left: 45px !important;
    }
    /* Remove paddings */
    
    .pad0A {
        padding: 0 !important;
    }
    .pad0T {
        padding-top: 0 !important;
    }
    .pad0R {
        padding-right: 0 !important;
    }
    .pad0B {
        padding-bottom: 0 !important;
    }
    .pad0L {
        padding-left: 0 !important;
    }
    /* Margins */
    
    .mrg5A {
        margin: 5px !important;
    }
    .mrg5T {
        margin-top: 5px !important;
    }
    .mrg5R {
        margin-right: 5px !important;
    }
    .mrg5B {
        margin-bottom: 5px !important;
    }
    .mrg5L {
        margin-left: 5px !important;
    }
    .mrg10A {
        margin: 10px !important;
    }
    .mrg10T {
        margin-top: 10px !important;
    }
    .mrg10R {
        margin-right: 10px !important;
    }
    .mrg10B {
        margin-bottom: 10px !important;
    }
    .mrg10L {
        margin-left: 10px !important;
    }
    .mrg15A {
        margin: 15px !important;
    }
    .mrg15T {
        margin-top: 15px !important;
    }
    .mrg15R {
        margin-right: 15px !important;
    }
    .mrg15B {
        margin-bottom: 15px !important;
    }
    .mrg15L {
        margin-left: 15px !important;
    }
    .mrg20A {
        margin: 20px !important;
    }
    .mrg20T {
        margin-top: 20px !important;
    }
    .mrg20R {
        margin-right: 20px !important;
    }
    .mrg20B {
        margin-bottom: 20px !important;
    }
    .mrg20L {
        margin-left: 20px !important;
    }
    .mrg25A {
        margin: 25px !important;
    }
    .mrg25T {
        margin-top: 25px !important;
    }
    .mrg25R {
        margin-right: 25px !important;
    }
    .mrg25B {
        margin-bottom: 25px !important;
    }
    .mrg25L {
        margin-left: 25px !important;
    }
    .mrg45A {
        margin: 45px !important;
    }
    .mrg45T {
        margin-top: 45px !important;
    }
    .mrg45R {
        margin-right: 45px !important;
    }
    .mrg45B {
        margin-bottom: 45px !important;
    }
    .mrg45L {
        margin-left: 45px !important;
    }
    /* Remove margins */
    
    .mrg0A {
        margin: 0 !important;
    }
    .mrg0T {
        margin-top: 0 !important;
    }
    .mrg0R {
        margin-right: 0 !important;
    }
    .mrg0B {
        margin-bottom: 0 !important;
    }
    .mrg0L {
        margin-left: 0 !important;
    }

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    margin: 0;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
    font-weight: normal;
}
h1,
.h1 {
    font-size: 38px;
}
h2,
.h2 {
    font-size: 26px;
}
h3,
.h3 {
    font-size: 20px;
}
h4,
.h4 {
    font-size: 16px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}
h1 small,
.h1 small {
    font-size: 24px;
}
h2 small,
.h2 small {
    font-size: 18px;
}
h3 small,
.h3 small,
h4 small,
.h4 small {
    font-size: 14px;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
    font-size: 75%;
}
blockquote {
    margin: 0 0 20px;
    padding: 10px 20px;
    border-left: 5px solid #eee;
}
blockquote p {
    font-size: 17.5px;
    font-weight: 50;
    line-height: 1.25;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote small {
    line-height: 1.428571429;
    display: block;
    color: #999;
}
blockquote small:before {
    content: '\2014 \00A0';
}
blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small,
blockquote.pull-right .small {
    text-align: right;
}
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
    content: '';
}
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
    content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
    content: '';
}
address {
    font-style: normal;
    line-height: 1.428571429;
    margin-bottom: 20px;
}
code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}
code {
    font-size: 90%;
    padding: 0 4px;
    white-space: nowrap;
    color: #d05;
    border: 1px solid #dfe8f1;
    border-radius: 3px;
    background: #fafafa;
}
pre {
    font-size: 13px;
    line-height: 1.428571429;
    display: block;
    margin: 0 0 10px;
    padding: 9.5px;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
}
pre code {
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
}
p {
    line-height: 1.6em;
    margin: 0;
}
/* Titles */

.title-hero {
    margin: 0 0 15px;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.7;
}
h4.title-hero {
    font-size: 15px;
}
.title-lead {
    color: #3F3F3F;
}
.title-hero .title-lead {
    font-size: 65%;
    margin: 5px 0 0;
}
.title-hero + .title-lead {
    margin-top: -10px;
}
/* Jumbotron */

.jumbotron {
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    margin-bottom: 30px;
    padding: 30px;
    color: inherit;
    background-color: #eee;
}
.jumbotron h1 {
    line-height: 1;
    color: inherit;
}
.jumbotron p {
    line-height: 1.4;
}
.container .jumbotron {
    border-radius: 6px;
}
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .container .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }
    .jumbotron h1 {
        font-size: 63px;
    }
}

/* Floats */

.pull-left,
.float-left {
    float: left !important;
}
.pull-right,
.float-right {
    float: right !important;
}
.float-none {
    float: none !important;
}
/* Font Size */

.font-size-10 {
    font-size: 10px !important;
}
.font-size-11 {
    font-size: 11px !important;
}
.font-size-12 {
    font-size: 12px !important;
}
.font-size-13 {
    font-size: 13px !important;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-15 {
    font-size: 15px !important;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-17 {
    font-size: 17px !important;
}
.font-size-18 {
    font-size: 18px !important;
}
.font-size-20 {
    font-size: 20px !important;
}
.font-size-23 {
    font-size: 23px !important;
}
.font-size-26 {
    font-size: 26px !important;
}
.font-size-28 {
    font-size: 28px !important;
}
.font-size-35 {
    font-size: 35px !important;
}
.font-size-50 {
    font-size: 50px !important;
}
/* Text */

.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-justify {
    text-align: justify;
}
/* Text Transform */

.text-transform-none {
    text-transform: none;
}
.text-transform-upr {
    text-transform: uppercase;
}
.text-transform-low {
    text-transform: lowercase;
}
.text-transform-cap {
    text-transform: capitalize;
}
.text-no-wrap {
    white-space: nowrap;
}
/* Font Weight */

.font-bold {
    font-weight: bold !important;
}
.font-normal {
    font-weight: normal;
}
/* Font Style */

.font-italic {
    font-style: italic;
}
.font-none {
    font-style: none;
}
/* Other */

.clear {
    clear: both;
}
.clear-none {
    clear: none !important;
}
.ui-front {
    z-index: 100;
}
.wrapper-sticky {
    z-index: 15;
}
.lazy,
.tab-pane,
[data-toggle=buttons] > .btn > input[type=radio],
[data-toggle=buttons] > .btn > input[type=checkbox],
.mix,
.hide {
    display: none;
}
.tab-pane {
    padding: 15px;
}
.hidden,
.ui-helper-hidden-accessible {
    display: none !important;
}
.display-block {
    position: relative !important;
    display: block !important;
}
.display-block .button-content {
    float: none;
}
.display-block.dropdown-menu {
    position: static !important;
}
.display-inline {
    display: inline-block;
}
.no-border {
    border-color: transparent !important;
}
.remove-border,
.dropdown-menu.pad0A .hasDatepicker .ui-datepicker {
    border: 0 !important;
}
.border-top {
    border-top-width: 3px !important;
    border-top-style: solid !important;
}
.width-100 {
    box-sizing: border-box;
    width: 100%;
}
.center-margin {
    float: none !important;
    margin: 0 auto;
}
.container,
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.center-vertical {
    position: relative;
    z-index: 15;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
}
.center-vertical .center-content {
    display: table-cell;
    vertical-align: middle;
}
.position-absolute {
    position: absolute;
}
.show {
    display: block !important;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.invisible {
    visibility: hidden;
}
.center-div {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: center !important;
}
.nav-divider,
.divider {
    ityity: .70;
    -moz-opacity: .70;
    filter: alpha(opacity: 70);
}
.divider {
    overflow: hidden;
    height: 1px;
    margin: 10px 0;
    padding: 0;
}
.divider-header {
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
    opacity: .2;
    color: #fff;
}
.overflow-hidden {
    overflow: hidden;
}
.width-reset {
    width: auto !important;
}
.opacity-10 {
    opacity: .10 !important;
    -moz-opacity: .10 !important;
    filter: alpha(opacity: 10) !important;
}
.opacity-30,
.info-box b,
.info-box.icon-wrapper .icon-large {
    opacity: .30 !important;
    -moz-opacity: .30 !important;
    filter: alpha(opacity: 30) !important;
}
.opacity-40 {
    opacity: .40 !important;
    -moz-opacity: .40 !important;
    filter: alpha(opacity: 40) !important;
}
.opacity-hover,
.opacity-60,
.info-box b,
.label-description span {
    opacity: .60 !important;
    -moz-opacity: .60 !important;
    filter: alpha(opacity: 60) !important;
}
.opacity-80,
.no-shadow.transparent.btn:hover i,
.ui-datepicker-current.ui-priority-secondary {
    opacity: .80 !important;
    -moz-opacity: .80 !important;
    filter: alpha(opacity: 80) !important;
}
.opacity-hover:hover,
.opacity-100 {
    opacity: 1 !important;
    -moz-opacity: 1 !important;
    filter: alpha(opacity: 100) !important;
}
.btn-link .glyph-icon.opacity-hover {
    margin: 0 -5px;
}
.transparent {
    border-color: transparent !important;
    background: none !important;
    box-shadow: 0 0 0 0 transparent !important;
}
.no-shadow {
    box-shadow: 0 0 0 transparent !important;
}
.remove-bg {
    background: transparent;
}
.nicescroll-rails {
    background: none !important;
}
.btn .caret {
    margin-left: 0;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    content: '';
    border-top: 0;
    border-bottom: 4px solid;
}
.form-wizard > ul,
.parsley-errors-list,
.tabs-navigation > ul,
.reset-ul,
ul.progress-box,
ul.messages-box,
.chosen-results,
ul.notifications-box,
.nav-list-horizontal ul,
.nav-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.comments-list li .panel-body:before,
.comments-list li .panel-body:after,
.posts-list li:before,
.posts-list li:after,
.container:before,
.container:after,
#page-wrapper:before,
#page-wrapper:after,
.todo-box li:before,
.todo-box li:after,
.files-box li:before,
.files-box li:after,
.notifications-box li:before,
.notifications-box li:after,
.pager:before,
.pager:after,
.nav:before,
.nav:after,
.btn-toolbar:before,
.btn-toolbar:after,
.content-box-header:before,
.content-box-header:after,
.example-box-wrapper:before,
.example-box-wrapper:after,
.nav-list li:before,
.nav-list li:after,
.tl-row:before,
.tl-row:after,
.tl-item:before,
.tl-item:after,
.clearfix:before,
.clearfix:after,
.info-box:before,
.info-box:after,
.button-pane:before,
.button-pane:after,
.ui-datepicker-buttonpane:before,
.ui-datepicker-buttonpane:after,
.form-input-prepend:before,
.form-input-prepend:after,
.form-row:before,
.form-row:after,
.btn-group:before,
.btn-group:after,
.ui-helper-clearfix:before,
.ui-helper-clearfix:after,
.chat-box li:before,
.chat-box li:after,
.notifications-box li:before,
.notifications-box li:after,
.messages-box li:before,
.messages-box li:after {
    display: table;
    content: '';
}
.comments-list li .panel-body:after,
.posts-list li:after,
.container:after,
#page-wrapper:after,
.todo-box li:after,
.files-box li:after,
.notifications-box li:after,
.nav:after,
.pager:after,
.btn-toolbar:after,
.content-box-header:after,
.example-box-wrapper:after,
.nav-list li:after,
.tl-row:after,
.tl-item:after,
.clearfix:after,
.info-box:after,
.button-pane:after,
.ui-datepicker-buttonpane:after,
.form-input-prepend:after,
.form-row:after,
.btn-group:after,
.ui-helper-clearfix:after,
.chat-box li:after,
.notifications-box li:after,
.messages-box li:after {
    clear: both;
}
/* Sortable placehoder */

.ui-sortable-placeholder {
    visibility: visible !important;
    border: 1px dashed #efda2c !important;
    background: #fffce5 !important;
}
.daterangepicker td.in-range,
.daterangepicker td.available.in-range:hover {
    background: #fffce5;
}
/* Disabled */

.ui-rangeSlider-disabled .ui-rangeSlider-container,
.ui-rangeSlider-disabled .ui-rangeSlider-arrow,
.ui-rangeSlider-disabled .ui-rangeSlider-label,
.checker.disabled,
.checker.disabled span,
.radio.disabled,
.radio.disabled span,
.ui-state-disabled,
.disabled,
button[disabled],
.chosen-disabled {
    cursor: not-allowed !important;
    opacity: .65;
    filter: alpha(opacity: 65);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
    opacity: .65;
    background: #fafafa;
    filter: alpha(opacity: 65);
}
input[readonly],
select[readonly],
textarea[readonly] {
    opacity: .80;
    background: #fdfdfd;
    -moz-opacity: .80;
    filter: alpha(opacity: 80);
}
.login-img {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fixed-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ui-widget-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 16;
}
.ui-widget-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
}
#loading {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
}
.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.collapse {
    display: none;
}
.tab-pane.active,
.collapse.in {
    display: block;
}
.collapsing {
    position: relative;
    overflow: hidden;
    height: 0;
    -webkit-transition: height .35s ease;
    transition: height .35s ease;
}
/* Paddings */

.small-padding {
    padding: 25px 0;
}
.medium-padding {
    padding: 55px 0;
}
.large-padding {
    padding: 85px 0;
}
.xlarge-padding {
    padding: 115px 0;
}
/* Icons */

.glyph-icon {
    text-align: center;
}
.fc-icon,
#page-sidebar li ul li a:before,
#page-sidebar li a.sf-with-ul:after,
.search-choice-close:before,
.ui-dialog-titlebar-close:before,
.glyph-icon:before,
.ui-icon:before,
.dataTables_paginate a i:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Resets */

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    cursor: not-allowed;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.rm-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
div[id^='uniform-'] span,
button,
a,
.btn {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
/*.open > .dropdown-menu,
.dropdown-sidebar-submenu:hover > .dropdown-menu {
    -webkit-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    -o-animation-name: zoomIn;
    animation-name: zoomIn;
}
.open > .dropdown-menu,
.dropdown-sidebar-submenu:hover > .dropdown-menu {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
*/
#page-header,
#page-sidebar,
.main-header,
.top-bar {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

/* Demo */

.example-box-wrapper {
    margin-bottom: 15px;
    position: relative;
}
.example-box-wrapper .ui-datepicker-inline {
    position: relative;
    width: 100%;
}
.panel-body .example-box-wrapper:last-child,
.panel-body .col-md-6 .example-box-wrapper:last-child {
    margin-bottom: 0;
}
.example-box-wrapper .icon-box,
.example-box-wrapper .ui-slider,
.example-box-wrapper .ui-rangeSlider,
.example-box-wrapper .panel-layout,
.example-box-wrapper .image-box,
.example-box-wrapper .ui-accordion,
.example-box-wrapper .dashboard-box,
.example-box-wrapper .content-box,
.example-box-wrapper .tile-box,
.example-box-wrapper .jvectormap-container,
.example-box-wrapper > .hasDatepicker,
.example-box-wrapper > .minicolors,
.example-box-wrapper .minicolors,
.example-box-wrapper .ui-tabs,
.example-box-wrapper > img,
.example-box-wrapper > .thumbnail,
.example-box-wrapper > .img-humbnail,
.example-box-wrapper > .display-block.dropdown-menu,
.example-box-wrapper > .dropdown,
.example-box-wrapper > .dropup,
.example-box-wrapper > form,
.example-box-wrapper > .progressbar,
.example-box-wrapper .loading-spinner,
.example-box-wrapper .loading-stick,
.example-box-wrapper .nav,
.example-box-wrapper .jcrop-holder,
.example-box-wrapper .alert,
.example-box-wrapper .list-group,
.example-box-wrapper > h6,
.example-box-wrapper .dataTables_wrapper,
.example-box-wrapper .scrollable-content,
.example-box-wrapper > .pagination,
.example-box-wrapper > .btn-group-vertical,
.example-box-wrapper > .btn-toolbar,
.example-box-wrapper > .btn-group,
.example-box-wrapper > .btn,
.example-box-wrapper > .panel-layout {
    margin-bottom: 20px;
}
.demo-icon {
    font-size: 22px;
    line-height: 40px;
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    color: #92A0B3;
    border: 1px solid rgba(220, 233, 255, 0.54);
    border-radius: 3px;
}
.demo-icon:hover {
    color: #59606c;
    border-color: #92A0B3;
}

/* Font Colors */

.font-black {
    color: #464646 !important;
}
.font-blue {
    color: #1f6dca !important;
}
.font-blue-alt {
    color: #65a6ff !important;
}
.font-azure {
    color: #41e5c0 !important;
}
.text-muted,
.font-gray {
    color: #c2c2c2 !important;
}
.text-info,
.font-gray-dark {
    color: #828282 !important;
}
.text-success,
.font-green {
    color: #2ecc71 !important;
}
.text-warning,
.font-orange {
    color: #fa7753 !important;
}
.font-yellow {
    color: #fc0 !important;
}
.font-purple {
    color: #984dff !important;
}
.has-error .help-block,
.text-danger,
.font-red,
.parsley-required {
    color: #ff5757 !important;
}
.font-white {
    color: #fff !important;
}
/* Other Background Colors */

.alert-info a,
.alert-info {
    color: #6c6c6c;
    border-color: #c9c9c9;
    background: #dfe8f1;
}
.alert-notice a,
.alert-notice {
    color: #0f2c62;
    border-color: #62baf6;
    background: #c6e8ff;
}
.alert-success a,
.alert-success,
.parsley-success {
    color: #1e620f;
    border-color: #7cd362;
    background: #d3ffc6;
}
.parsley-success {
    background: #fff;
}
.alert-warning a,
.alert-warning,
.warning {
    color: #624b0f;
    border-color: #ebc875;
    background: #ffeec6;
}
.alert-danger a,
.alert-danger,
.danger,
.parsley-error {
    color: #620f0f;
    border-color: #db6a6a;
    background: #ffc6c6;
}
.parsley-error {
    background: #fff;
}
/* Social buttons */

.bg-facebook {
    color: #fff !important;
    background: #3b5998;
}
.btn.bg-facebook:hover {
    background: #304b85;
}
.bg-twitter {
    color: #fff !important;
    background: #3a92c8;
}
.btn.bg-twitter:hover {
    background: #2b80b4;
}
.bg-google {
    color: #fff !important;
    background: #dd4b39;
}
.btn.bg-google:hover {
    background: #c93b2a;
}
/* Background Colors */
/* Blue */

.progress-bar-info,
.bootstrap-switch-info,
.checkbox-info div[id^='uniform-'] span.checked,
.radio-info div[id^='uniform-'] span.checked,
.badge-info,
.label-info,
.btn-info,
.hover-blue:hover,
.hover-info:hover,
.bg-blue {
    color: #fff;
    border-color: #308dcc;
    background: #3498db;
}
.label-info[href]:hover,
.label-info[href]:focus,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info.disabled,
.btn-info[disabled],
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
.btn-info.disabled.active,
.btn-info[disabled].active {
    color: #fff;
    border-color: #308dcc;
    background: #52a7e0;
}
/* Red */

.progress-bar-danger,
.bootstrap-switch-danger,
.checkbox-danger div[id^='uniform-'] span.checked,
.radio-danger div[id^='uniform-'] span.checked,
.badge-danger,
.label-danger,
.btn-danger,
.bg-danger,
.hover-red:hover,
.hover-danger:hover,
.bg-red {
    color: #fff;
    border-color: #cf4436;
    background: #e74c3c;
}
.label-danger[href]:hover,
.label-danger[href]:focus,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active {
    color: #fff;
    border-color: #cf4436;
    background: #eb6759;
}
/* Gray */

.badge-gray,
.label-gray,
.btn-gray,
.hover-gray:hover,
.bg-gray {
    color: #666;
    background: #efefef;
}
.label-gray[href]:hover,
.label-gray[href]:focus,
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray,
.btn-gray.disabled,
.btn-gray[disabled],
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active {
    color: #333;
    background: #e7e7e7;
}
/* Gray Alt */

.badge-gray-alt,
.label-gray-alt,
.btn-gray-alt,
.hover-gray-alt:hover,
.bg-gray-alt {
    color: #888;
    background: #f6f6f6;
}
.label-gray-alt[href]:hover,
.label-gray-alt[href]:focus,
.btn-gray-alt:hover,
.btn-gray-alt:focus,
.btn-gray-alt:active,
.btn-gray-alt.active,
.open .dropdown-toggle.btn-gray-alt,
.btn-gray-alt.disabled,
.btn-gray-alt[disabled],
.btn-gray-alt.disabled:hover,
.btn-gray-alt[disabled]:hover,
.btn-gray-alt.disabled:focus,
.btn-gray-alt[disabled]:focus,
.btn-gray-alt.disabled:active,
.btn-gray-alt[disabled]:active,
.btn-gray-alt.disabled.active,
.btn-gray-alt[disabled].active {
    color: #444;
    background: #ededed;
}
/* Black */

.badge-black,
.label-black,
.btn-black,
.hover-black:hover,
.bg-black {
    color: #ccc;
    border-color: #000;
    background: #2d2d2d;
}
.boxed-layout.bg-black {
    background: #2d2d2d;
}
.label-black[href]:hover,
.label-black[href]:focus,
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black,
.btn-black.disabled,
.btn-black[disabled],
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
.btn-black.disabled.active,
.btn-black[disabled].active {
    color: #fdfdfd;
    background: #151515;
}
/* Black Opacity */

.badge-black-opacity,
.label-black-opacity,
.btn-black-opacity,
.hover-black-opacity:hover,
.bg-black-opacity {
    color: #a9b3bb;
    background: #2b323d;
}
.label-black-opacity[href]:hover,
.label-black-opacity[href]:focus,
.btn-black-opacity:hover,
.btn-black-opacity:focus,
.btn-black-opacity:active,
.btn-black-opacity.active,
.open .dropdown-toggle.btn-black-opacity,
.btn-black-opacity.disabled,
.btn-black-opacity[disabled],
.btn-black-opacity.disabled:hover,
.btn-black-opacity[disabled]:hover,
.btn-black-opacity.disabled:focus,
.btn-black-opacity[disabled]:focus,
.btn-black-opacity.disabled:active,
.btn-black-opacity[disabled]:active,
.btn-black-opacity.disabled.active,
.btn-black-opacity[disabled].active {
    color: #fff;
    background: #14171c;
}
/* Black Opacity Alt */

.badge-black-opacity-alt,
.label-black-opacity-alt,
.btn-black-opacity-alt,
.hover-black-opacity-alt:hover,
.bg-black-opacity-alt {
    color: #fff;
    background: rgba(0, 0, 0, .20);
    border-color: transparent;
}
.label-black-opacity-alt[href]:hover,
.label-black-opacity-alt[href]:focus,
.btn-black-opacity-alt:hover,
.btn-black-opacity-alt:focus,
.btn-black-opacity-alt:active,
.btn-black-opacity-alt.active,
.open .dropdown-toggle.btn-black-opacity-alt,
.btn-black-opacity-alt.disabled,
.btn-black-opacity-alt[disabled],
.btn-black-opacity-alt.disabled:hover,
.btn-black-opacity-alt[disabled]:hover,
.btn-black-opacity-alt.disabled:focus,
.btn-black-opacity-alt[disabled]:focus,
.btn-black-opacity-alt.disabled:active,
.btn-black-opacity-alt[disabled]:active,
.btn-black-opacity-alt.disabled.active,
.btn-black-opacity-alt[disabled].active {
    color: #fff;
    background: rgba(0, 0, 0, .30);
}
/* Green */

.progress-bar-success,
.bootstrap-switch-success,
.checkbox-success div[id^='uniform-'] span.checked,
.radio-success div[id^='uniform-'] span.checked,
.badge-success,
.label-success,
.btn-success,
.hover-green:hover,
.hover-success:hover,
.bg-green {
    color: #fff;
    border-color: #29b765;
    background: #2ecc71;
}
.label-success[href]:hover,
.label-success[href]:focus,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
.btn-success.disabled.active,
.btn-success[disabled].active {
    color: #fff;
    border-color: #29b765;
    background: #58d68d;
}
/* Orange */

.progress-bar-warning,
.bootstrap-switch-warning,
.checkbox-warning div[id^='uniform-'] span.checked,
.radio-warning div[id^='uniform-'] span.checked,
.badge-warning,
.label-warning,
.btn-warning,
.bg-warning,
.hover-orange:hover,
.hover-warning:hover,
.bg-orange {
    color: #fff;
    border-color: #d67520;
    background: #e67e22;
}
.label-warning[href]:hover,
.label-warning[href]:focus,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active {
    color: #fff;
    border-color: #d67520;
    background: #ea9143;
}
/* White */

.table,
.label-white,
.bg-white {
    background: #fff;
}
/* White Transparent */

.bg-white-opacity {
    background: rgba(255, 255, 255, .85);
}
.hover-white:hover {
    background: #fafafa;
}
/* Yellow */

.badge-yellow,
.label-yellow,
.btn-yellow,
.hover-yellow:hover,
.bg-yellow {
    color: #fff;
    background: #fc0;
    border-color: #deb200;
}
.label-yellow[href]:hover,
.label-yellow[href]:focus,
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow,
.btn-yellow.disabled,
.btn-yellow[disabled],
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active {
    color: #fff;
    background: #e1b400;
    border-color: #c59e00;
}
/* Purple */

.badge-purple,
.label-purple,
.btn-purple,
.hover-purple:hover,
.bg-purple {
    color: #fff;
    background: #984dff;
    border-color: #7a3ecc;
}
.label-purple[href]:hover,
.label-purple[href]:focus,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple,
.btn-purple.disabled,
.btn-purple[disabled],
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active {
    color: #fff;
    background: #8134eb;
    border-color: #752fd6;
}
/* Blue Alt */

.badge-blue-alt,
.label-blue-alt,
.btn-blue-alt,
.hover-blue-alt:hover,
.bg-blue-alt {
    color: #fff;
    background: #65a6ff;
    border-color: #5388d1;
}
.label-blue-alt[href]:hover,
.label-blue-alt[href]:focus,
.btn-blue-alt:hover,
.btn-blue-alt:focus,
.btn-blue-alt:active,
.btn-blue-alt.active,
.open .dropdown-toggle.btn-blue-alt,
.btn-blue-alt.disabled,
.btn-blue-alt[disabled],
.btn-blue-alt.disabled:hover,
.btn-blue-alt[disabled]:hover,
.btn-blue-alt.disabled:focus,
.btn-blue-alt[disabled]:focus,
.btn-blue-alt.disabled:active,
.btn-blue-alt[disabled]:active,
.btn-blue-alt.disabled.active,
.btn-blue-alt[disabled].active {
    color: #fff;
    background: #478ded;
    border-color: #4c7ec1;
}
/* Azure */

.badge-azure,
.label-azure,
.btn-azure,
.hover-azure:hover,
.bg-azure {
    color: #fff;
    background: #41e5c0;
    border-color: #3acead;
}
.label-azure[href]:hover,
.label-azure[href]:focus,
.btn-azure:hover,
.btn-azure:focus,
.btn-azure:active,
.btn-azure.active,
.open .dropdown-toggle.btn-azure,
.btn-azure.disabled,
.btn-azure[disabled],
.btn-azure.disabled:hover,
.btn-azure[disabled]:hover,
.btn-azure.disabled:focus,
.btn-azure[disabled]:focus,
.btn-azure.disabled:active,
.btn-azure[disabled]:active,
.btn-azure.disabled.active,
.btn-azure[disabled].active {
    color: #fff;
    background: #27d1ab;
    border-color: #24c19e;
}
/* Border Colors */

.border-black {
    border-color: #212121 !important;
}
.border-blue {
    border-color: #5bccf6 !important;
}
.border-blue-alt {
    border-color: #65a6ff !important;
}
.border-azure {
    border-color: #41e5c0 !important;
}
.border-gray {
    border-color: #c2c2c2 !important;
}
.border-gray-dark {
    border-color: #828282 !important;
}
.border-green {
    border-color: #2ecc71 !important;
}
.border-orange {
    border-color: #fa7753 !important;
}
.border-yellow {
    border-color: #fc0 !important;
}
.border-purple {
    border-color: #984dff !important;
}
.border-red {
    border-color: #ff5757 !important;
}
/* Box Shadow Colors */

.parsley-success {
    border-color: #77e038 !important;
}
.parsley-error {
    border-color: #e03838 !important;
}

