{% extends "baseTemplate/index.html" %}
{% load static %}
{% block module_scripts %}<script defer src="{% static 'CLManager/CLManager.js' %}?v={{ CP_VERSION }}"></script>{% endblock %}
{% load i18n %}
{% block title %}{% trans "Create Cloud Linux Package - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    <div class="container">
        <div id="page-title">
            <h2>{% trans "Create CloudLinux Package." %}</h2>
            <p>{% trans "Each CloudLinux package have one associated (owner) CyberPanel package. During website creation associated CloudLinux package will be assigned to website user." %}</p>
        </div>
        <div ng-controller="createCLPackage" class="panel">
            <div class="panel-body">
                <h3 class="content-box-header">
                    {% trans "Create Package" %} <img ng-hide="cyberPanelLoading" src="{% static 'images/loading.gif' %}" alt="">
                </h3>
                <div class="example-box-wrapper">


                    <form action="/" class="form-horizontal bordered-row panel-body">


                        <div class="form-group">
                            <label for="cpa11y-select-package" class="col-sm-3 control-label">{% trans "Select Package" %} </label>
                            <div class="col-sm-6">
                                <select id="cpa11y-select-package" ng-change="toggleView()" ng-model="selectedPackage" class="form-control">
                                    {% for items in packList %}
                                        <option>{{ items }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <!------ Modification form that appears after a click --------------->

                        <div ng-hide="modifyPackageForm">

                            <div class="form-group">
                                <label for="cpa11y-package-name" class="col-sm-3 control-label">{% trans "Package Name" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-package-name" type="text" class="form-control" ng-model="name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="cpa11y-speed" class="col-sm-3 control-label">{% trans "SPEED" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-speed" type="text" class="form-control" ng-model="SPEED" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 100%</div>
                            </div>


                            <div class="form-group">
                                <label for="cpa11y-vmem" class="col-sm-3 control-label">{% trans "VMEM" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-vmem" type="text" class="form-control" ng-model="VMEM" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 256m or 1G</div>
                            </div>

                            <div class="form-group">
                                <label for="cpa11y-pmem" class="col-sm-3 control-label">{% trans "PMEM" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-pmem" type="text" class="form-control" ng-model="PMEM" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 256m or 1G</div>
                            </div>


                            <div class="form-group">
                                <label for="cpa11y-io" class="col-sm-3 control-label">{% trans "IO" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-io" type="text" class="form-control" ng-model="IO" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 1024</div>
                            </div>

                            <div class="form-group">
                                <label for="cpa11y-iops" class="col-sm-3 control-label">{% trans "IOPS" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-iops" type="text" class="form-control" ng-model="IOPS" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 1024</div>
                            </div>

                            <div class="form-group">
                                <label for="cpa11y-ep" class="col-sm-3 control-label">{% trans "EP" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-ep" type="text" class="form-control" ng-model="EP" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 10</div>
                            </div>

                            <div class="form-group">
                                <label for="cpa11y-nproc" class="col-sm-3 control-label">{% trans "NPROC" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-nproc" type="text" class="form-control" ng-model="NPROC" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 10</div>
                            </div>

                            <div class="form-group">
                                <label for="cpa11y-inodes-soft" class="col-sm-3 control-label">{% trans "INODES soft" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-inodes-soft" type="text" class="form-control" ng-model="INODESsoft" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 1024</div>
                            </div>

                            <div class="form-group">
                                <label for="cpa11y-inodes-hard" class="col-sm-3 control-label">{% trans "INODES hard" %}</label>
                                <div class="col-sm-6">
                                    <input id="cpa11y-inodes-hard" type="text" class="form-control" ng-model="INODEShard" required>
                                </div>
                                <div class="current-pack ng-binding">Ex 1024</div>
                            </div>


                        </div>

                        <!------ Modification form that appears after a click --------------->


                        <div ng-hide="modifyPackageForm" class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                <button type="button" ng-click="createPackage()"
                                        class="btn btn-primary btn-lg ">{% trans "Create Package" %}</button>

                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>


    </div>


{% endblock %}
