{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Not available - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->


    <div class="container">
        <div id="page-title">
            <h2>{% trans "Not available" %}</h2>
            <p>{% trans "Either CageFS is not installed or you are not on CloudLinux OS." %}</p>
        </div>

        {% if not CL %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        <p>{% trans "CloudLinux is not installed on your server." %} <a target="_blank"
                                                                                       href="https://go.cyberpanel.net/CLConvert">Click
                            Here</a> {% trans " for conversion details." %}</p>
                    </div>
                </div>
            </div>

        {% else %}

            <div ng-controller="installCageFS" class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    {% trans "Activate Now" %} <img ng-hide="installDockerStatus"
                                                      src="{% static 'images/loading.gif' %}">
                </h3>
                <div class="example-box-wrapper">

                    <p>{% trans "CloudLinux is installed, but not activated." %}</p>
                        <!------ LSWS Switch box ----------------->

                        <div style="margin-top: 2%" ng-hide="installBoxGen" class="col-md-12">

                            <form action="/" id="" class="form-horizontal bordered-row">
                                <div class="form-group">
                                    <div style="margin-top: 2%;" class="col-sm-12">
                                            <textarea ng-model="requestData" rows="15"
                                                      class="form-control">{{ requestData }}</textarea>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <!----- LSWS Switch box ----------------->
                        <br>
                        <button ng-hide="dockerInstallBTN" class="btn btn-primary" ng-click="submitCageFSInstall()">Activate Now</button>

                </div>
            </div>
        </div>

        {% endif %}

    </div>
{% endblock %}

