[Unit]
Description = CyberPanel Email Policy Control Daemon

[Service]
Type=forking
ExecStart = /usr/local/CyberCP/postfixSenderPolicy/policyCTRL.py start
ExecStop = /usr/local/CyberCP/postfixSenderPolicy/policyCTRL.py stop
Restart = /usr/local/CyberCP/postfixSenderPolicy/policyCTRL.py restart
Restart=on-abnormal

[Install]
WantedBy=default.target
