
{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Back up Website" %}{% endblock %}
{% block content %}

{% load static %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="container">
<div id="page-title">
   <h2>{% trans "Back up Website" %} - <a  target="_blank" href="http://go.cyberpanel.net/backup" style="height: 23px;line-height: 21px;" class="btn btn-border btn-alt border-red btn-link font-red" title=""><span>{% trans "Backup Docs" %}</span></a></h2>
   <p>{% trans "This page can be used to Back up your websites" %}</p>
</div>

<div ng-controller="backupWebsiteControl" class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            {% trans "Back up Website" %} <img ng-hide="backupLoading" src="{% static 'images/loading.gif' %}">
        </h3>
        <div  class="example-box-wrapper">


            <form  action="/" class="form-horizontal bordered-row">


                 <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "Select Website" %} </label>
                    <div class="col-sm-6">
                        <select ng-change="fetchDetails()" ng-model="websiteToBeBacked" class="form-control">
                            {% for items in websiteList %}
                                <option>{{ items }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div ng-hide="destination" class="form-group">
                    <label class="col-sm-3 control-label">{% trans "Destination" %}</label>
                    <div class="col-sm-6">
                        <select ng-change="destinationSelection()" ng-model="backupDestinations" class="form-control">
                                <option>{% trans "Home" %}</option>
                        </select>
                    </div>
                </div>


            <!---- if Back up is running ----->

            <div ng-hide="runningBackup" class="form-group">

                    <div  class="col-sm-12">

                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{% trans "File Name" %}</th>
                                <th>{% trans "Status" %} <img ng-hide="backupLoadingBottom" src="{% static 'images/loading.gif' %}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{% trans "Running" %}</td>
                                <td>{$ fileName $}</td>
                                <td style="color: red"><strong>{$ status $}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            <!---- if Back up is running------>

            <div ng-hide="backupButton" class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                         <button type="button" ng-click="createBackup()" class="btn btn-primary btn-lg btn-block">{% trans "Create Back up" %}</button>
                    </div>
            </div>

            <div ng-hide="cancelButton" class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                         <button type="button" ng-click="cancelBackup()" class="btn btn-primary btn-lg btn-block">{% trans "Cancel Backup" %}</button>
                    </div>
            </div>


             <!------ List of records --------------->

                <div class="form-group">

                    <div  class="col-sm-12">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans "ID" %}</th>
                                <th>{% trans "File" %}</th>
                                <th>{% trans "Date" %}</th>
                                <th>{% trans "Size" %}</th>
                                <th>{% trans "Status" %}</th>
                                <th>{% trans "Delete" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="record in records track by $index">
                                <td ng-bind="record.id"></td>
                                <td ng-bind="record.file"></td>
                                <td ng-bind="record.date"></td>
                                <td ng-bind="record.size"></td>
                                <td ng-bind="record.status"></td>
                                <a href=""><td ng-click="deleteBackup(record.id)"><img src="{% static 'images/delete.png' %}"></td></a>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            <!------ List of records --------------->


                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                            <div id="websiteDeleteFailure" class="alert alert-danger">
                                        <p>{% trans "Cannot delete website, Error message:  " %}{$ errorMessage $}</p>
                            </div>

                            <div id="websiteDeleteSuccess" class="alert alert-success">
                                <p>Website <strong>{$ deletedWebsite $}</strong> {% trans "Successfully Deleted" %}</p>
                            </div>
                    </div>



                </div>


            </form>



        </div>
    </div>
</div>


</div>


{% endblock %}