{% extends "baseTemplate/newBase.html" %}
{% load i18n %}
{% block titleNew %}{% trans "Home - CyberPanel" %}{% endblock %}
{% block newContent %}

    {% load static %}

    <div ng-controller="apiAccessCTRLV2" class="p-8">
        <div>
            <p class="text-4xl font-bold">API Access</p>
            <p class="text-xs text-gray-600 py-2 font-semibold">Allow/Remove API access for account, this effects Cloud
                Platform Connection and Third Party Modules.</p>
        </div>
        <div>
            <div class="py-4">
                <p class="text-xl font-bold">API Access</p>
                <img ng-hide="cyberpanelLoading"
                     src="{% static 'images/loading.gif' %}">
            </div>
            <hr>
            <div>
                <div class="flex mt-4 py-2 px-6">
                    <div>
                        <p class="font-semibold w-60">Select User</p>
                    </div>
                    <div>
                        <select ng-change="showApiAccessDropDown()" ng-model="accountUsername"
                                class="w-80 bg-gray-100 rounded px-2 py-1">
                            {% for items in acctNames %}
                                <option>{{ items }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div ng-hide="apiAccessDropDown" class="flex mt-4 py-2 px-6">
                    <div>
                        <p class="font-semibold w-60">Access</p>
                    </div>
                    <div>
                        <select ng-model="access" class="w-80 bg-gray-100 rounded px-2 py-1">
                            <option>Enable</option>
                            <option>Disable</option>
                        </select>
                    </div>
                </div>

                <div class="flex justify-center mt-6">
                    <button ng-click="saveChanges()" class="bg-orange-500 text-white font-bold px-4 py-2 text-xl">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
