{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Pricing - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->

    <style>
        .feturecard {
            width: 30%;
            padding: 46px;
            margin: 15px
        }
    </style>

    <div class="container">
        <div id="page-title" align="center">
            <h2 style="color: black"><strong>Managing Your WordPress sites was never so easy!</strong></h2>
            <p style="font-size: 18px; color: black; margin-top: 1%">43% of all Websites on the Internet are built with
                WordPress, so
                it deserves some love! With CyberPanel WordPress Manager, you can easily Monitor, Analyze, Optimize and
                keep your website in Top-Notch performance, all the time. (The lifetime plan does not include a trial;
                please see below for subscription-based plans)</p>
        </div>


        <p align="center">
            <iframe width="788.54" height="443" src="https://www.youtube.com/embed/c-ffIKgjrBU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </p>
        <div style="margin-top: 2%">
            <stripe-pricing-table pricing-table-id="prctbl_1MQtdYJMfY1fWGMszc4tx78j"
                                  publishable-key="pk_live_51ITXBmJMfY1fWGMs2G0LAydJweIDMp2WaYocM0xyzdn03WaHUbMw6uxfVuktAkgpRyUql7tz7gF5OwdccEZLd6Ot00XX6tGoZx">
            </stripe-pricing-table>
            <stripe-pricing-table pricing-table-id="prctbl_1LpSqSJMfY1fWGMsxSNhPLsc"
                                  publishable-key="pk_live_51ITXBmJMfY1fWGMs2G0LAydJweIDMp2WaYocM0xyzdn03WaHUbMw6uxfVuktAkgpRyUql7tz7gF5OwdccEZLd6Ot00XX6tGoZx">
            </stripe-pricing-table>
            <stripe-pricing-table pricing-table-id="prctbl_1M6WpCJMfY1fWGMsQXFlZWcW"
                                  publishable-key="pk_live_51ITXBmJMfY1fWGMs2G0LAydJweIDMp2WaYocM0xyzdn03WaHUbMw6uxfVuktAkgpRyUql7tz7gF5OwdccEZLd6Ot00XX6tGoZx">
            </stripe-pricing-table>
        </div>

        <div class="col-lg-12"
             style="margin: 1%;  border-radius: 10px; box-shadow: rgba(66, 135, 245, 0.2) 0px 2px 8px 0px;">
            <h2 align="center" style="margin-top: 2%; color: black"><strong>Features You’ll Love</strong></h2>

            <div class="center-content" style="display: flex; flex-wrap: wrap; margin: auto">


                <div align="center" style="margin-bottom: -15px;" class="feturecard">
                    <div style="margin: 2%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20s9 20 20 20s20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20s9 20 20 20s20-9 20-20z"/>
                        </svg>
                    </div>
                    <h4 style="font-weight: bold; color: black ">Backups</h4>
                    <div style="margin: 2%">
                        <div align="center">Worried about your
                            site
                            backups? WordPress Manager allows you to take data or database level backups. <br></div>
                    </div>

                </div>
                <div align="center" style="margin-bottom: -15px;" class="feturecard">
                    <div style="margin: 2%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
                            <path fill="currentColor"
                                  d="M832 64H296c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h496v688c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V96c0-17.7-14.3-32-32-32zM704 192H192c-17.7 0-32 14.3-32 32v530.7c0 8.5 3.4 16.6 9.4 22.6l173.3 173.3c2.2 2.2 4.7 4 7.4 5.5v1.9h4.2c3.5 1.3 7.2 2 11 2H704c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM350 856.2L263.9 770H350v86.2zM664 888H414V746c0-22.1-17.9-40-40-40H232V264h432v624z"/>
                        </svg>
                    </div>
                    <h4 style="font-weight: bold; color: black ">Staging Sites<br></h4>
                    <div style="margin: 2%">
                        <div align="center">Not ready to go live
                            yet?
                            You can create staging sites and easily deploy them to production with one-click using
                            WordPress
                            Manager<br></div>
                    </div>

                </div>
                <div align="center" style="margin-bottom: -15px;" class="feturecard">
                    <div style="margin: 2%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z"/>
                        </svg>
                    </div>
                    <h4 style="font-weight: bold; color: black ">One Click SSL</h4>
                    <div style="margin: 2%">
                        <div align="center">Free One Click SSL Certificates by Let's Encrypt. With Auto-renewal
                            enabled
                            by
                            default, CyberPanel will automagically renew your Certificates before they expire!<br>
                        </div>
                    </div>
                </div>

                <div align="center" class="feturecard">
                    <div style="margin: 2%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M12.001 1.993C6.486 1.994 2 6.48 2 11.994c.001 5.514 4.487 10 10 10c5.515 0 10.001-4.486 10.001-10s-4.486-10-10-10.001zM12 19.994c-4.41 0-7.999-3.589-8-8c0-4.411 3.589-8 8.001-8.001c4.411.001 8 3.59 8 8.001s-3.589 8-8.001 8z"/>
                            <path fill="currentColor" d="m12.001 8.001l-4.005 4.005h3.005V16h2v-3.994h3.004z"/>
                        </svg>
                    </div>
                    <h4 style="font-weight: bold; color: black ">One Click Install</h4>
                    <div style="margin: 2%">
                        <div align="center">Deploy WordPress sites with-in 1 minute using our brand new WordPress
                            Manager.
                            We will take care of Speed, Security and maintenance of your WordPress site.<br></div>
                    </div>
                </div>
                <div align="center" class="feturecard">
                    <div style="margin: 2%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                            <path fill="currentColor" fill-rule="evenodd"
                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15C-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </div>
                    <h4 style="font-weight: bold; color: black ">Auto Login<br></h4>
                    <div style="margin: 2%">
                        <div align="center">Have you forgotten your WordPress dashboard login information? To access
                            your
                            WordPress admin account, simply use the CyberPanel WordPress manager Auto Login feature.<br>
                        </div>
                    </div>
                </div>
                <div align="center" class="feturecard">
                    <div style="margin: 2%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em"
                             preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                            <path fill="currentColor"
                                  d="M1200 1200L957.743 0H658.691l9.164 276.675H532.144L541.308 0H242.256L0 1200h501.562l11.441-345.445h173.992L698.438 1200H1200M683.573 751.231H516.426l13.479-406.965h140.188l13.48 406.965"/>
                        </svg>
                    </div>
                    <h4 style="font-weight: bold; color: black ">LiteSpeed Cache</h4>
                    <div style="margin: 2%">
                        <div align="center">Nothing beats LSCache plugin on LitesSpeed server. Every WordPress site
                            deployed
                            via WordPress manager gets LSCache plugin installed and configured.<br></div>
                    </div>
                </div>


            </div>


        </div>


    </div>



{% endblock %}