{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Website Functions - CyberPanel" %}{% endblock %}
{% block content %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->


<div class="container">
<div id="page-title">
   <h2>{% trans "Website Functions" %}</h2>
   <p>{% trans "On this page you can launch, list, modify and delete websites from your server." %}</p>
</div>

    <div class="panel">
        <div class="panel-body">


            <h3 class="title-hero">
            {% trans "Available Functions" %}
            </h3>



             <div class="example-box-wrapper">

                {% if type == 3 %}

                    <div class="row">

                    <div class="col-md-4">
                                    <a href="{% url 'listWebsites' %}" title="{% trans 'List Websites' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "List Websites" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>

                </div>

                {% else %}
                    <div class="row">
                    <div class="col-md-4">
                                    <a href="{% url 'createWebsite' %}" title="{% trans 'Create Website' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "Create Website" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>


                    <div class="col-md-4">
                                    <a href="{% url 'listWebsites' %}" title="{% trans 'List Websites' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "List Websites" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>


                    <div class="col-md-4">
                                    <a href="{% url 'modifyWebsite' %}" title="{% trans 'Modify Website' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "Modify Website" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>


                </div>

                    <div class="row">

                        <div class="col-md-4">
                                        <a href="{% url 'siteState' %}" title="{% trans 'Suspend/Unsuspend Website' %}" class="tile-box tile-box-shortcut btn-primary">
                                            <div class="tile-header">
                                                {% trans "Suspend/Unsuspend Website" %}
                                            </div>
                                            <div class="tile-content-wrapper">
                                                <i class="glyph-icon icon-dashboard"></i>
                                            </div>
                                        </a>
                        </div>



                        <div class="col-md-4">
                                    <a href="{% url 'deleteWebsite' %}" title="{% trans 'Delete Website' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "Delete Website" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                        </div>




                </div>
                {% endif %}

             </div>
        </div>
    </div>

</div>


{% endblock %}