{% extends "baseTemplate/newBase.html" %}
{% load i18n %}
{% block titleNew %}{% trans "Home - CyberPanel" %}{% endblock %}
{% block newContent %}

    {% load static %}

    <div ng-controller="listChildDomainsMainV2" class="p-8">
        <div class="flex lg:flex-row justify-between items-center sm:flex-col">
            <div>
                <p class="text-4xl font-bold">List Child Domains</p>
                <p class="text-xs text-gray-600 py-2 font-semibold">On this page you can launch,list,modify and
                    child domains
                    from your server</p>
            </div>
        </div>
        <!-- Search Bar -->
        <div class="flex justify-between py-1 mt-4">
            <div class="w-full">
                <div class="relative flex items-center w-full h-12 rounded-lg bg-gray-200 overflow-hidden">
                    <div class="grid place-items-center h-full w-12 text-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                        </svg>
                    </div>
                    <input ng-change="searchWebsites()" ng-model="patternAdded" name="dom"
                           class="h-full w-full bg-gray-200 outline-none text-sm text-gray-700 pr-2" type="text"
                           id="search" placeholder="Search" required/>
                </div>
            </div>
            <!-- Search Bar End -->
            <div class="pl-6">
                <select ng-model="recordsToShow" ng-change="getFurtherWebsitesFromDB()"
                        class="w-24 bg-gray-200 py-3 px-2 rounded" id="example-select">
                    <option>10</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <div ng-repeat="web in WebSitesList track by $index" class="panel col-md-12"
             style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;">
            <div class="">
                <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;">

                    <div style="border-bottom: 1px solid #888888" class="col-md-12">
                        <div class="col-lg-10 content-box-header" style="text-transform: none;">
                            <a href="http://{$ web.domain $}" target="_blank" title="Visit Site">
                                <h2 style="display: inline; color: #414C59;" ng-bind="web.domain"></h2>
                            </a>
                            <a target="_blank" href="/filemanager/{$ web.masterDomain $}" title="Open File Manager">
                                --
                                File Manager</a>
                        </div>
                        <div class="col-md-2 content-box-header" style="text-transform: none;">
                            <a href="/websites/{$ web.masterDomain $}/{$ web.domain $}" target="_blank"
                               title="Manage Website">
                                <i class="p fa fa-external-link btn-icon">&emsp;</i>
                                <span>Manage</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 content-box-header">
                            <i class="p fa fa-trash-o btn-icon text-muted" data-toggle="tooltip"
                               data-placement="right"
                               title="Delete Child Domain">&emsp;</i>
                            <span><a ng-click='deleteDomainInit(web.domain)' data-toggle="modal"
                                     data-target="#DeleteChild" href=""
                                     style="text-transform: none">Delete</a></span>
                            <div id="DeleteChild" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                            <h4 class="modal-title">Delete Child Domain
                                                <img ng-hide="$parent.cyberPanelLoading"
                                                     src="/static/images/loading.gif"
                                                     style="display: none;">
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <form name="DeleteDocumentRootForm" action="/" class="form-horizontal">

                                                <div ng-hide="installationDetailsForm" class="form-group">
                                                    <label class="col-sm-2 control-label">{% trans "" %}</label>
                                                    <div class="col-sm-8">
                                                        <input ng-model="$parent.DeleteDocRoot" type="checkbox"
                                                               value="">
                                                        Delete Document Root
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                    ng-click="deleteChildDomain()">Delete Now
                                            </button>
                                            <button type="button" ng-disabled="savingSettings"
                                                    class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 content-box-header">
                            <i class="p fa fa-map-marker btn-icon text-muted" data-toggle="tooltip"
                               data-placement="right" title="IP Address">&emsp;</i>
                            <span ng-bind="web.ipAddress"></span>
                        </div>
                        <div class="col-md-4 content-box-header">
                            <i class="p fa fa-lock btn-icon text-muted" data-toggle="tooltip" data-placement="right"
                               title="SSL">&emsp;</i>
                            <span><a ng-click="issueSSL(web.domain)" href=""
                                     style="text-transform: none">Issue SSL</a></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 content-box-header">
                            <i class="p fa fa-cubes btn-icon text-muted" data-toggle="tooltip"
                               data-placement="right"
                               title="Packages">&emsp;</i>
                            <span ng-bind="web.package" style="text-transform: none"></span>
                        </div>
                        <div class="col-md-4 content-box-header">
                            <i class="p fa fa-user btn-icon text-muted" data-toggle="tooltip" data-placement="right"
                               title="Owner">&emsp;</i>
                            <span ng-bind="web.admin" style="text-transform: none"></span>
                        </div>
                        <div class="col-md-4 content-box-header">
                            <i class="p fa fa-arrows-h btn-icon text-muted" data-toggle="tooltip"
                               data-placement="right"
                               title="Convert to Website">&emsp;</i>
                            <span><a data-toggle="modal" data-target="#settings" href=""
                                     style="text-transform: none"
                                     ng-click="initConvert(web.domain)">Convert to Website</a></span>
                            <div id="settings" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                            <h4 class="modal-title">Convert Child Domain to normal Website
                                                <img ng-hide="$parent.cyberPanelLoading"
                                                     src="/static/images/loading.gif"
                                                     style="display: none;">
                                            </h4>
                                        </div>
                                        <div class="modal-body">

                                            <form name="containerSettingsForm" action="/" class="form-horizontal">

                                                <div ng-hide="installationDetailsForm" class="form-group">
                                                    <label class="col-sm-3 control-label">{% trans "Domain Name" %}</label>
                                                    <div class="col-sm-6">
                                                        <input name="dom" type="text" class="form-control"
                                                               ng-model="domainName"
                                                               placeholder="{% trans "Do not enter WWW, it will be auto created!" %}"
                                                               readonly>
                                                    </div>
                                                </div>

                                                <div ng-hide="installationDetailsForm" class="form-group">
                                                    <label class="col-sm-3 control-label">{% trans "Select Owner" %}</label>
                                                    <div class="col-sm-6">
                                                        <select ng-model="$parent.websiteOwner"
                                                                class="form-control">
                                                            {% for items in owernList %}
                                                                <option>{{ items }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <hr ng-hide="installationDetailsForm">

                                                <div ng-hide="installationDetailsForm" class="form-group">
                                                    <label class="col-sm-3 control-label">{% trans "Select Package" %}</label>
                                                    <div class="col-sm-6">
                                                        <select ng-model="$parent.packageForWebsite"
                                                                class="form-control">
                                                            {% for items in packageList %}
                                                                <option>{{ items }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <hr ng-hide="installationDetailsForm">
                                                <div ng-hide="installationDetailsForm" class="form-group">
                                                    <label class="col-sm-3 control-label">{% trans "Email" %}</label>
                                                    <div class="col-sm-6">
                                                        <input type="email" name="email" class="form-control"
                                                               ng-model="$parent.adminEmail" required>
                                                    </div>
                                                </div>

                                                <hr ng-hide="installationDetailsForm">
                                                <div ng-hide="installationDetailsForm" class="form-group">
                                                    <label class="col-sm-3 control-label">{% trans "Select PHP" %}</label>
                                                    <div class="col-sm-6">
                                                        <select ng-model="$parent.phpSelection"
                                                                class="form-control">
                                                            {% for php in phps %}
                                                                <option>{{ php }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div ng-hide="installationProgress" class="form-group">
                                                    <label class="col-sm-1 control-label"></label>
                                                    <div class="col-sm-10">

                                                        <div class="alert alert-success text-center">
                                                            <h2>{$ currentStatus $}</h2>
                                                        </div>

                                                        <div class="progress">
                                                            <div id="installProgress" class="progress-bar"
                                                                 role="progressbar" aria-valuenow="70"
                                                                 aria-valuemin="0" aria-valuemax="100"
                                                                 style="width:0%">
                                                                <span class="sr-only">70% Complete</span>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                                <div ng-hide="installationProgress" class="form-group">
                                                    <label class="col-sm-3 control-label"></label>
                                                    <div class="col-sm-4">
                                                        <button type="button" ng-disabled="goBackDisable"
                                                                ng-click="goBack()"
                                                                class="btn btn-primary btn-lg">{% trans "Go Back" %}</button>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                    ng-click="convert()">Convert
                                            </button>
                                            <button type="button" ng-disabled="savingSettings"
                                                    class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="listFail" class="alert alert-danger">
                        <p>{% trans "Cannot list websites. Error message:" %} {$ errorMessage $}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <select ng-model="currentPage" ng-change="getFurtherWebsitesFromDB()"
                    class="w-36 bg-gray-200 py-3 px-2 rounded" id="example-select">
                <option ng-repeat="page in pagination">{$ $index + 1 $}</option>
            </select>
        </div>

    </div>
    </div>
{% endblock %}
