{% extends "baseTemplate/newBase.html" %}
{% load i18n %}
{% block titleNew %}{% trans "Home - CyberPanel" %}{% endblock %}
{% block newContent %}

    {% load static %}

    <div ng-controller="listWebsitesV2" class="p-8">
        <div>
            <p id="domainNamePage" class="text-4xl font-bold">List Backups</p>
            <p class="text-xs text-gray-600 py-2 font-semibold">On this page you can Restore, list, modify and delete
                Backups Wordpress Sites from your server.</p>
        </div>
        <div>
            <div class="flex py-4">
                <p class="text-xl font-bold">List Backups</p>
                <img ng-hide="cyberPanelLoading" src="{% static 'images/loading.gif' %}">
            </div>
            <hr>
            <div class="relative py-8 overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right">
                    <thead>
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Website
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Type
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Backup Destination
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                    </thead>
                    {% for sub in job %}
                        <tbody class="border shadow-lg py-3 px-6 rounded-b-lg">
                        <tr>
                            <td class="px-6 py-4 font-bold">
                                {{ sub.id }}
                            </td>
                            <td class="px-6 py-4">
                                {{ sub.title }}
                            </td>
                            <td class="px-6 py-4">
                                {{ sub.Backuptype }}
                            </td>
                            <td class="px-6 py-4">
                                {{ sub.BackupDestination }}
                            </td>
                            <td class="px-6 py-4">
                                <a href="{% url 'RestoreHomeV2' %}?BackupID={{ sub.id }}"
                                   aria-label=""
                                   type="button"
                                   class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">
                                    Restore
                                </a>
                                <a>
                                    <button data-modal-target="Deletewpsite" data-modal-toggle="Deletewpsite"
                                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                                            type="button"
                                            onclick="DeleteWPNow('{% url 'RestoreBackupsV2' %}?DeleteID={{ sub.id }}')">
                                        Delete
                                    </button>
                                    <div id="Deletewpsite" tabindex="-1"
                                         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                        <div class="relative p-4 w-full max-w-md max-h-full">
                                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                <button type="button" data-modal-toggle="Deletewpsite"
                                                        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                        data-modal-hide="Deletewpsite">
                                                    <svg class="w-3 h-3" aria-hidden="true"
                                                         xmlns="http://www.w3.org/2000/svg" fill="none"
                                                         viewBox="0 0 14 14">
                                                        <path stroke="currentColor" stroke-linecap="round"
                                                              stroke-linejoin="round" stroke-width="2"
                                                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                                <div class="p-4 md:p-5 text-center">
                                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                                                         aria-hidden="true"
                                                         xmlns="http://www.w3.org/2000/svg" fill="none"
                                                         viewBox="0 0 20 20">
                                                        <path stroke="currentColor" stroke-linecap="round"
                                                              stroke-linejoin="round" stroke-width="2"
                                                              d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                                    </svg>
                                                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                                                        Are you sure you want to
                                                        delete this site?</h3>
                                                    <button data-modal-hide="Deletewpsite" type="button"
                                                            data-modal-toggle="Deletewpsite"
                                                            onclick="FinalDeleteWPNow()"
                                                            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                                                        Yes, I'm sure
                                                    </button>
                                                    <button data-modal-hide="Deletewpsite" type="button"
                                                            data-modal-toggle="Deletewpsite"
                                                            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                                        No, cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
