{% extends "baseTemplate/newBase.html" %}
{% load i18n %}
{% block titleNew %}{% trans "Home - CyberPanel" %}{% endblock %}
{% block newContent %}

    {% load static %}

    <div ng-controller="cloneWebsiteV2" class="p-8">
        <div class="flex items-center">
            <p class="text-4xl font-bold">Set up Staging Enviroment</p>
        </div>
        <p class="text-xs text-gray-600 py-2 font-semibold">Set up staging enviroment for
            {{ domainName }}. Any domain that you will choose here will be created as child-domain for this master
            site. </p>
        <div>
            <div class="flex items-center py-4">
                <p class="text-xl font-bold">Set up staging enviroment for <span id="domainName">{{ domainName }}</span>
                </p>
                <img ng-hide="cyberpanelLoading" src="{% static 'images/loading.gif' %}"> -
            </div>
            <hr>
            <form name="websiteCreationForm" action="/" id="createPackages">
                <p ng-hide="installationDetailsForm" class="text-xs text-gray-600 py-2 font-semibold">Domain that you
                    will enter below will be created as child-domain to
                    <spam id="domainName">{{ domainName }}</spam>
                    .
                </p>
                <hr>
                <div>
                    <div ng-hide="installationDetailsForm" class="flex mt-4 py-2 px-6">
                        <div>
                            <p class="font-semibold w-48">Domain</p>
                        </div>
                        <div>
                            <input ng-keypress="cloneEnter($event)" type="text"
                                   class="w-80 bg-gray-100 rounded px-2 py-1" ng-model="domain"
                                   required>
                        </div>
                    </div>
                </div>
                <div ng-hide="installationDetailsForm" class="flex justify-center mt-2">
                    <button type="button"
                            class="bg-orange-500 px-3 py-2 mt-2 rounded-lg text-xl font-semibold text-white"
                            ng-click="startCloning()">
                        Start Cloning
                    </button>
                </div>
                <div ng-hide="installationProgress">
                    <div class="col-sm-7">
                        <div class="flex justify-center font-bold text-xl">
                            <h2>{$ currentStatus $}</h2>
                        </div>
                        <div class="w-full bg-gray-100 rounded-full mt-3">
                            <div id="installProgress"
                                 class="bg-green-600 text-xs font-medium text-white text-center p-2 leading-none rounded-full"
                                 style="width:0%">
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="installationProgress" class="flex justify-center mt-3">
                    <div class="col-sm-4">
                        <button type="button" ng-disabled="goBackDisable" ng-click="goBack()"
                                class="bg-blue-500 px-3 py-2 rounded-lg text-xl font-semibold text-white">{% trans "Go Back" %}</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}
