{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Edit Plugin Bucket - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->

    <div class="container">
        <span id="pluginbID" style="display: none">{{ pluginbID }}</span>
        <div id="page-title">
            <h2 id="domainNamePage">{% trans "Edit Plugin Bucket" %}

            </h2>
        </div>
        <div ng-controller="WPAddNewPlugin" class="panel">
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <h2>{{ BucketName }}</h2>

                    <form name="websiteCreationForm" action="/" id="createPackages"
                          class="form-horizontal bordered-row panel-body">




                        <label style="margin-bottom: 10px;">{% trans "Search Plugin Name" %}</label>

                        <input name="searchcontent" type="text" class="form-control" ng-model="searchcontent"
                               ng-keyup="SearchPluginName('eidt')"
                               placeholder="{% trans "Search Plugin...." %}" required>

                        <div id="mysearch" class="col-lg-12" style="display: none; border-top: none!important;
                                                            border: 1px solid  rgba(90, 91, 92, 0.7);
                                                            position: absolute; z-index: 1;
                                                            background-color: #FFFFFF">
                        </div>

                        <h3 style="margin-top: 20px;">Selected Plugin</h3>
                        <div id="sedplugn" style="  display: flex; flex-direction: row; margin-top: 10px;">
                            {% for plugin in Selectedplugins %}
                                <div id="selplug"
                                     style="background-color: #12207a; color: #FFFFFF; padding: 5px;  border-radius: 30px">
                                    {{ plugin }}
                                    <svg ng-click="deletesPlgin('{{ plugin }}')" xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true"
                                         role="img" width="1em" height="1em"
                                         preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="1.5" d="m11.25 4.75l-6.5 6.5m0-6.5l6.5 6.5"/>
                                    </svg>

                                </div>
                                &nbsp &nbsp
                            {% endfor %}


                        </div>

                </form>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
