#test access file
AuthName	 testHTAccess
AuthType	basic
AuthUserFile /home/gwang/proj/dev/httpd/httpd/serverroot/htpasswd
AuthGroupFile /home/gwang/proj/dev/httpd/httpd/serverroot/htgroup

redirect /htatest/redir/temp0	/
redirect	temp	/htatest/redir/temp1     /
redirect permanent /htatest/redir/perm1/  /
redirect seeother /htatest/redir/seeother /
redirect gone  /htatest/redir/gone /gone

redirectTemp	/htatest/redir/temp2 /		
redirectPermanent /htatest/redir/perm2 /	

order	allow,deny	
allow from	127.0.0.1	
deny from	all		 

<Files ~ "\.htm$">
order allow,deny
deny from all
</Files>

<Files "index">
ForceType text/html
</Files>

<FilesMatch "\.gif$">
order deny,allow
allow from all
</FilesMatch>

