{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Security - CyberPanel" %}{% endblock %}
{% block content %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="container">
<div id="page-title">
   <h2>{% trans "Security Functions" %}</h2>
   <p>{% trans "Manage the security of the server on this page." %}</p>
</div>

    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
            {% trans "Available Functions" %}
            </h3>

             <div class="example-box-wrapper">
                <div class="row">
                    <div class="col-md-4">
                                    <a href="{% url 'firewallHome' %}" title="{% trans 'Firewall' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "Firewall" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>

                    <div class="col-md-4">
                                    <a href="{% url 'secureSSH' %}" title="{% trans 'Secure SSH' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "Secure SSH" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>


                </div>
             </div>
        </div>
    </div>

</div>


{% endblock %}