{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Server Logs - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->


    <div class="container">
        <div id="page-title">
            <h2>{% trans "Server Logs" %}</h2>
            <p>{% trans "These are the logs from main server, to see logs for your website navigate to: Websites -> List Websites -> Select Website -> View Logs." %}</p>
        </div>
        <div class="panel col-md-12">
            <div class="panel-body">
                <h3 class="content-box-header">
                    {% trans "Available Functions" %}
                </h3>
                <div class="example-box-wrapper">

                    <div class="row">
                        <div class="col-md-3 btn-min-width">
                            <a href="{% url 'accessLogs' %}" title="{% trans 'Access Logs' %}"
                               class="tile-box tile-box-shortcut btn-primary">
                                <div class="tile-header">
                                    {% trans "Access Logs" %}
                                </div>
                                <div class="tile-content-wrapper">
                                    <i class="fa fa-key"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3 btn-min-width">
                            <a href="{% url 'errorLogs' %}" title="{% trans 'Error Logs' %}"
                               class="tile-box tile-box-shortcut btn-primary">
                                <div class="tile-header">
                                    {% trans "Error Logs" %}
                                </div>
                                <div class="tile-content-wrapper">
                                    <i class="fa fa-exclamation"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3 btn-min-width">
                            <a href="{% url 'emaillogs' %}" title="{% trans 'Email Logs' %}"
                               class="tile-box tile-box-shortcut btn-primary">
                                <div class="tile-header">
                                    {% trans "Email Logs" %}
                                </div>
                                <div class="tile-content-wrapper">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3 btn-min-width">
                            <a href="{% url 'ftplogs' %}" title="{% trans 'FTP Logs' %}"
                               class="tile-box tile-box-shortcut btn-primary">
                                <div class="tile-header">
                                    {% trans "FTP Logs" %}
                                </div>
                                <div class="tile-content-wrapper">
                                    <i class="fa fa-upload"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


{% endblock %}
