{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Server Tuning - CyberPanel" %}{% endblock %}
{% block content %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="container">
<div id="page-title">
   <h2>{% trans "Server Tuning" %}</h2>
   <p>{% trans "On this page you can set runing parameters for your webserver depending on your hardware." %}</p>
</div>
    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
            {% trans "Available Functions" %}
            </h3>

             <div class="example-box-wrapper">
                <div class="row">
                    <div class="col-md-4">
                                    <a href="{% url 'liteSpeedTuning' %}" title="{% trans 'LiteSpeed Tuning' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "LiteSpeed Tuning" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>


                    <div class="col-md-4">
                                    <a href="{% url 'phpTuning' %}" title="{% trans 'PHP Tuning' %}" class="tile-box tile-box-shortcut btn-primary">
                                        <div class="tile-header">
                                            {% trans "PHP Tuning" %}
                                        </div>
                                        <div class="tile-content-wrapper">
                                            <i class="glyph-icon icon-dashboard"></i>
                                        </div>
                                    </a>
                    </div>



                </div>
             </div>
        </div>
    </div>

</div>


{% endblock %}