{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Email Policy Server - CyberPanel" %}{% endblock %}
{% block content %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->


<div class="container">
<div id="page-title">
   <h2>{% trans "Email Policy Server Configurations!" %} - <a  target="_blank" href="http://go.cyberpanel.net/emailLimits" style="height: 23px;line-height: 21px;" class="btn btn-border btn-alt border-red btn-link font-red" title=""><span>{% trans "Email Limits Docs" %}</span></a> </h2>
   <p>{% trans "Turn ON Email Policy Server to use Email Limits Feature. " %}</p>
</div>

<div ng-controller="policyServer" class="example-box-wrapper">
        <div class="panel panel-body">
            <h3 class="content-box-header">
                {% trans "Email Policy Server" %} <img ng-hide="policyServerLoading"  src="/static/images/loading.gif">
            </h3>

            <div class="content-box-wrapper">
                <div class="row">

                 <div style="padding: 2%"  class="col-md-12">
                    <form  action="/" id="createPackages" class="form-horizontal bordered-row panel-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Server Status" %}</label>
                            <div class="col-sm-6">
                                <input type="checkbox" id="policServerStatus" data-toggle="toggle">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                 <button type="button" ng-click="savePolicServerStatus()" class="btn btn-primary btn-lg">{% trans "Save changes" %}</button>

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">

                                    <div ng-hide="failedToFetch" class="alert alert-danger">
                                                <p>{% trans "Error message: " %} {$ errorMessage $}</p>
                                    </div>

                                    <div ng-hide="changesApplied" class="alert alert-success">
                                                <p>{% trans "Changes successfully applied." %}</p>
                                    </div>

                                    <div ng-hide="couldNotConnect" class="alert alert-danger">
                                            <p>{% trans "Could not connect. Please refresh this page." %} </p>
                                    </div>

                            </div>
                        </div>


                    </form>
                </div>



                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}
