{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Rspamd - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->


    <div class="container">
        <div id="page-title">
            <h2>{% trans "Rspamd Configurations!" %} -
            </h2>
            <p>{% trans "On this page you can configure Rspamd settings." %}</p>
        </div>

        <div ng-controller="Rspamd" class="example-box-wrapper">
            <div class="panel panel-body">
                <div class="col-lg-12" style="float: left">
                    <h3 class="content-box-header">
                        {% trans "Rspamd" %} <img ng-hide="RspamdLoading" src="/static/images/loading.gif">

                    </h3>
                </div>
                <div style="width: 100%; margin: 0 auto">

                    <div ng-hide="uninstallbutton" class="col-lg-3" style="float: left">
                        <button type="button" data-toggle="modal" data-target="#ViewRspamdlog"
                                ng-click="FetchRspamdLog()"
                                class="btn btn-primaryb btn-lg btn-block">{% trans "View Rspamd Logs" %}</button>
                    </div>

                    <div ng-hide="uninstallbutton" class="col-lg-3" style="float: left">

                        <button type="button" data-toggle="modal" data-target="#UninstallRspamdmodal"
                                class="btn btn-danger btn-lg btn-block">{% trans "Un-install Rspamd" %}</button>

                    </div>
                    <div ng-hide="uninstallbutton" class="col-lg-6" style="float: left">

                        <button type="button" ng-click="RestartRspamd()"
                                class="btn btn-gray btn-lg btn-block">{% trans "Restart Rspamd and CLAMAV" %}</button>

                    </div>
                </div>

                {#-------------------------------un install process----------------------------------#}
                <div ng-hide="uninstalldiv">
                    <div class="col-md-12 text-center" style="margin-bottom: 2%;">
                        <h4 class="mb-10">{% trans "Uninstalling Rspamd " %}
                        </h4>
                    </div>
                </div>
                <!------ RSPAMD unInstall Log box ----------------->

                <div ng-hide="uninstallRspamdNotifyBox" class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">

                        <div ng-hide="failedToStartInallation" class="alert alert-danger">
                            <p>{% trans "Failed to start Uninstallation, Error message: " %} {$ errorMessage $}</p>
                        </div>

                        <div ng-hide="couldNotConnect" class="alert alert-danger">
                            <p>{% trans "Could not connect. Please refresh this page." %} </p>
                        </div>

                        <div ng-hide="installationFailed" class="alert alert-danger">
                            <p>{% trans "Installation failed." %} {$ errorMessage $}</p>
                        </div>

                        <div ng-hide="RspamdSuccessfullyInstalled" class="alert alert-success">
                            <p>{% trans "RSPAMD successfully Uninstalled, refreshing page in 3 seconds.." %}</p>
                        </div>
                    </div>
                </div>


                <div ng-hide="uninstallRspamdInstallBox" class="col-md-12">

                    <form action="/" id="" class="form-horizontal bordered-row">
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <h3><img
                                        src="{% static 'firewall/icons/firewall.png' %}"> {% trans "Winter is coming, but so is RSPAMD." %}
                                    <img ng-hide="RspamdLoading" src="/static/images/loading.gif">
                                </h3>
                            </div>
                            <div style="margin-top: 2%;" class="col-sm-12">
                                            <textarea ng-model="requestData" rows="15"
                                                      class="form-control">{{ requestData }}</textarea>
                            </div>
                        </div>
                    </form>
                </div>


                <!----- RSPAMD unInstall Log box ----------------->


                <div class="content-box-wrapper">
                    <div class="row">

                        {% if checkIfRspamdInstalled == 0 %}

                            <div class="col-md-12 text-center" style="margin-bottom: 2%;">
                                <h4 class="mb-10">{% trans "Rspamd is not installed " %}
                                </h4>
                                <button ng-click="installRspamd()" class="btn btn-alt btn-hover btn-blue-alt">
                                    <span>{% trans "Install Now." %}</span>
                                    <i class="glyph-icon icon-arrow-right"></i>
                                </button>
                            </div>

                            <!------ RSPAMD Install Log box ----------------->

                            <div ng-hide="RspamdNotifyBox" class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">

                                    <div ng-hide="failedToStartInallation" class="alert alert-danger">
                                        <p>{% trans "Failed to start installation, Error message: " %} {$ errorMessage
                                            $}</p>
                                    </div>

                                    <div ng-hide="couldNotConnect" class="alert alert-danger">
                                        <p>{% trans "Could not connect. Please refresh this page." %} </p>
                                    </div>

                                    <div ng-hide="installationFailed" class="alert alert-danger">
                                        <p>{% trans "Installation failed." %} {$ errorMessage $}</p>
                                    </div>

                                    <div ng-hide="RspamdSuccessfullyInstalled" class="alert alert-success">
                                        <p>{% trans "RSPAMD successfully installed, refreshing page in 3 seconds.." %}</p>
                                    </div>
                                </div>
                            </div>


                            <div ng-hide="RspamdInstallBox" class="col-md-12">

                                <form action="/" id="" class="form-horizontal bordered-row">
                                    <div class="form-group">
                                        <div class="col-sm-12 text-center">
                                            <h3><img
                                                    src="{% static 'firewall/icons/firewall.png' %}"> {% trans "Winter is coming, but so is RSPAMD." %}
                                                <img ng-hide="RspamdLoading" src="/static/images/loading.gif">
                                            </h3>
                                        </div>
                                        <div style="margin-top: 2%;" class="col-sm-12">
                                            <textarea ng-model="requestData" rows="15"
                                                      class="form-control">{{ requestData }}</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <!----- RSPAMD Install Log box ----------------->
                        {% else %}

                            <div ng-hide="installedrspamd">
                                <!-----------------------------------------ClamAv--------------------------->
                                <div style="padding: 2%" class="col-md-12">
                                    <h3 class="content-box-header">
                                        {% trans "ClamAV - This is CLAMV Configurations in Rspamd" %}
                                    </h3>
                                    <p style="margin: 1%">
                                        <strong>Warning</strong> {% trans "this is advanced settings, do not change if you don't know what you are doing" %}.
                                    </p>
                                    <form action="/" id="createPackages" class="form-horizontal bordered-row">

                                        <div ng-hide="phpDetailsBox" class="form-group">
                                            <label class="col-sm-4 control-label">Antivirus Status</label>
                                            <div class="col-sm-6">
                                                <input type="checkbox" id="antivirus_status" data-toggle="toggle">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Action</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" ng-model="action_rspamd">
                                                    <option selected="selected">Reject</option>
                                                    <option>Unset</option>
                                                </select>
                                            </div>
                                            <div ng-hide="ActionValue" class="col-sm-2">
                                                <strong style="margin-top: 10px; ">Selected</strong>
                                                <strong ng-model="selctedaction" id="selctedaction"></strong>
                                            </div>
                                        </div>
                                        <div ng-hide="phpDetailsBox" class="form-group">
                                            <label class="col-sm-4 control-label">Scan Mime Parts</label>
                                            <div class="col-sm-6">
                                                <input type="checkbox" id="scan_mime_parts" data-toggle="toggle">
                                            </div>
                                        </div>
                                        <div ng-hide="phpDetailsBox" class="form-group">
                                            <label class="col-sm-4 control-label">Log Clean</label>
                                            <div class="col-sm-6">
                                                <input type="checkbox" id="log_clean" data-toggle="toggle">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Max Size</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="max_size" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Clamav virus</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="CLAMAV_VIRUS"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Servers</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="server" required>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-4">
                                                <button type="button" ng-click="saveRspamdConfigurations()"
                                                        class="btn btn-primary btn-lg btn-block">{% trans "Save changes." %}</button>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">

                                                <div ng-hide="failedToSave" class="alert alert-danger">
                                                    <p>{% trans "Failed to save RSPAMD configurations. Error message: " %}
                                                        {$ errorMessage $}</p>
                                                </div>

                                                <div ng-hide="successfullySaved" class="alert alert-success">
                                                    <p>{% trans "RSPAMD configurations successfully saved." %}</p>
                                                </div>

                                                <div ng-hide="couldNotConnect" class="alert alert-danger">
                                                    <p>{% trans "Could not connect. Please refresh this page." %} </p>
                                                </div>

                                            </div>
                                        </div>


                                    </form>
                                </div>

                                <!-----------------------------------------ClamAv 2--------------------------->
                                <div style="padding: 2%" class="col-md-12">
                                    <h3 class="content-box-header">
                                        {% trans "ClamAV Configuration" %}
                                        <img ng-hide="CLamAVLoading"
                                             src="/static/images/loading.gif">
                                    </h3>
                                    <p style="margin: 1%">
                                        <strong>Warning</strong> {% trans "this is advanced settings, do not change if you don't know what you are doing" %}.
                                    </p>

                                    <form action="/" id="createPackages" class="form-horizontal bordered-row">
                                        <div ng-hide="phpDetailsBox" class="form-group">
                                            <label class="col-sm-4 control-label">TCPSocket</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="TCPSocket"
                                                       required>
                                            </div>

                                        </div>
                                        <div ng-hide="phpDetailsBox" class="form-group">
                                            <label class="col-sm-4 control-label">TCPAddr</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="TCPAddr"
                                                       required>
                                            </div>

                                        </div>
                                        <div ng-hide="phpDetailsBox" class="form-group">
                                            <label class="col-sm-4 control-label">Debug</label>
                                            <div class="col-sm-6">
                                                <input type="checkbox" id="clamav_Debug" data-toggle="toggle">
                                            </div>

                                        </div>
                                        <div ng-hide="phpDetailsBox" class="form-group">
                                            <label class="col-sm-4 control-label">Log Path</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="LogFile"
                                                       required>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-4">
                                                <button type="button" ng-click="saveclamavConfigurations()"
                                                        class="btn btn-primary btn-lg btn-block">{% trans "Save changes." %}</button>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">

                                                <div ng-hide="ClamAVfailedToSave" class="alert alert-danger">
                                                    <p>{% trans "Failed to save ClamAV configurations. Error message: " %}
                                                        {$ errorMessage $}</p>
                                                </div>

                                                <div ng-hide="ClamAVsuccessfullySaved" class="alert alert-success">
                                                    <p>{% trans "ClamAV configurations successfully saved." %}</p>
                                                </div>

                                                <div ng-hide="ClamAVcouldNotConnect" class="alert alert-danger">
                                                    <p>{% trans "Could not connect. Please refresh this page." %} </p>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <!-----------------------------------------postfix--------------------------->
                                <div style="padding: 2%" class="col-md-12">
                                    <h3 class="content-box-header">
                                        {% trans "Postfix Configurations for Rspamd" %}<img ng-hide="postfixLoading"
                                                                                            src="/static/images/loading.gif">
                                    </h3>
                                    <p style="margin: 1%">
                                        <strong>Warning</strong> {% trans "this is advanced settings, do not change if you don't know what you are doing" %}.
                                    </p>

                                    <form action="/" id="createPackages" class="form-horizontal bordered-row">

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Smtpd Milters</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="smtpd_milters"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Non Smtpd Milters</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="non_smtpd_milters"
                                                       required>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-4">
                                                <button type="button" ng-click="savepostfixConfigurations()"
                                                        class="btn btn-primary btn-lg btn-block">{% trans "Save changes." %}</button>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">

                                                <div ng-hide="postfixfailedToSave" class="alert alert-danger">
                                                    <p>{% trans "Failed to save Postfix configurations. Error message: " %}
                                                        {$ errorMessage $}</p>
                                                </div>

                                                <div ng-hide="postfixsuccessfullySaved" class="alert alert-success">
                                                    <p>{% trans "Postfix configurations successfully saved." %}</p>
                                                </div>

                                                <div ng-hide="postfixcouldNotConnect" class="alert alert-danger">
                                                    <p>{% trans "Could not connect. Please refresh this page." %} </p>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-----------------------------------------Redis--------------------------->
                                <div style="padding: 2%" class="col-md-12">
                                    <h3 class="content-box-header">
                                        {% trans "Redis" %}<img ng-hide="RedisLoading" src="/static/images/loading.gif">
                                    </h3>
                                    <p style="margin: 1%">
                                        <strong>Warning</strong> {% trans "this is advanced settings, do not change if you don't know what you are doing" %}.
                                    </p>

                                    <form action="/" id="createPackages" class="form-horizontal bordered-row">

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Write Servers</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="write_servers"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Read Servers</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="read_servers"
                                                       required>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-4">
                                                <button type="button" ng-click="saveRedisConfigurations()"
                                                        class="btn btn-primary btn-lg btn-block">{% trans "Save changes." %}</button>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">

                                                <div ng-hide="RedisfailedToSave" class="alert alert-danger">
                                                    <p>{% trans "Failed to save Redis configurations. Error message: " %}
                                                        {$ errorMessage $}</p>
                                                </div>

                                                <div ng-hide="RedissuccessfullySaved" class="alert alert-success">
                                                    <p>{% trans "Redis configurations successfully saved." %}</p>
                                                </div>

                                                <div ng-hide="RediscouldNotConnect" class="alert alert-danger">
                                                    <p>{% trans "Could not connect. Please refresh this page." %} </p>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>




                        {% endif %}


                    </div>
                </div>
            </div>
            <!----- Modal ----------------------->
            <div id="UninstallRspamdmodal" ng-model="UninstallRspamdmodal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;
                            </button>
                            <h4 class="modal-title">{% trans "Uninstall Rspamd" %}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p> Do You Want to Uninstall Rspamd? </p>

                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-primary" data-dismiss="modal" ng-click="unistallRspamd()">yes
                            </button>
                            <button type="button"
                                    class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------Rspamd View Log -------->
            <div id="ViewRspamdlog" ng-model="ViewRspamdlog" class="modal fade " role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;
                            </button>
                            <h4 class="modal-title">{% trans "Uninstall Rspamd" %}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <textarea ng-model="RspamdlogsData" class="form-control"
                                      rows="30">{{ Rspamdlogs }}</textarea>

                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-primary" data-dismiss="modal">yes
                            </button>
                            <button type="button"
                                    class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>





{% endblock %}
