{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Create DNS Zone - CyberPanel" %}{% endblock %}
{% block content %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="container">
<div id="page-title">
   <h2>{% trans "Create DNS Zone" %} - <a  target="_blank" href="http://go.cyberpanel.net/dns-records" style="height: 23px;line-height: 21px;" class="btn btn-border btn-alt border-red btn-link font-red" title=""><span>{% trans "DNS Docs" %}</span></a></h2>
   <p>{% trans "This page is used to create DNS zone, to edit dns zone you can visit Modify DNS Zone Page." %}</p>
</div>
<div ng-controller="createDNSZone" class="panel">
    <div class="panel-body">
        <h3 class="content-box-header">
            {% trans "Details" %} <img ng-hide="createDNSZoneLoading" src="{% static 'images/loading.gif' %}">
        </h3>
        <div class="example-box-wrapper">

        {% if not status %}
            <div class="col-md-12 text-center" style="margin-bottom: 2%;">
                <h3>{% trans "PowerDNS is disabled." %}
                    <a href="{% url 'managePowerDNS' %}"><button class="btn btn-alt btn-hover btn-blue-alt">
                        <span>{% trans "Enable Now" %}</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button></a></h3>
            </div>


        {% else %}

            <form  action="/" class="form-horizontal bordered-row panel-body">


                <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "Domain Name" %}</label>
                    <div class="col-sm-6">
                        <input name="dom"  type="text" class="form-control" ng-model="zoneDomain" required>
                    </div>

                    <div class="current-pack">example.com</div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                         <button type="button" ng-click="createDNSZone()" class="btn btn-primary btn-lg">{% trans "Create DNS Zone" %}</button>

                    </div>
                </div>



                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                            <div ng-hide="dnsZoneCreationFailed" class="alert alert-danger">
                                <p>{% trans "Cannot create DNS Zone. Error message:" %} {$ errorMessage $}</p>
                            </div>

                            <div ng-hide="dnsZoneCreated" class="alert alert-success">
                                <p>{% trans "DNS Zone for domain:" %} <strong>{$ zoneDomain $}</strong> created<br>
                                </p>
                            </div>

                            <div ng-hide="couldNotConnect" class="alert alert-danger">
                                <p>{% trans "Could not connect to server. Please refresh this page." %}</p>
                            </div>


                    </div>



                </div>


            </form>

        {% endif %}




        </div>
    </div>
</div>



</div>


{% endblock %}
