{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Create Nameserver - CyberPanel" %}{% endblock %}
{% block content %}

{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="container">
<div id="page-title">
   <h2>{% trans "Create Nameserver" %} - <a  target="_blank" href="http://go.cyberpanel.net/dns-records" style="height: 23px;line-height: 21px;" class="btn btn-border btn-alt border-red btn-link font-red" title=""><span>{% trans "DNS Docs" %}</span></a></h2>
   <p>{% trans "You can use this page to setup nameservers using which people on the internet can resolve websites hosted on this server." %}</p>
</div>
<div ng-controller="createNameserver" class="panel">
    <div class="panel-body">
        <h3 class="content-box-header">
            {% trans "Details" %} <img ng-hide="createNameserverLoading" src="{% static 'images/loading.gif' %}">
        </h3>
        <div class="example-box-wrapper">

        {% if not status %}
            <div class="col-md-12 text-center" style="margin-bottom: 2%;">
                <h3>{% trans "PowerDNS is disabled." %}
                    <a href="{% url 'managePowerDNS' %}"><button class="btn btn-alt btn-hover btn-blue-alt">
                        <span>{% trans "Enable Now" %}</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button></a></h3>
            </div>

        {% else %}

            <form  action="/" class="form-horizontal bordered-row panel-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "Domain Name" %}</label>
                    <div class="col-sm-6">
                        <input name="dom"  type="text" class="form-control" ng-model="domainForNS" required>
                    </div>

                    <div class="current-pack">example.com</div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "First Nameserver" %}</label>
                    <div class="col-sm-6">
                        <input name="firstNS"  type="text" class="form-control" ng-model="firstNS" required>
                    </div>

                    <div class="current-pack">ns1.example.com</div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "IP Address" %}</label>
                    <div class="col-sm-6">
                        <input value="IP Address for first nameserver." name="firstNSIP"  type="text" class="form-control" ng-model="firstNSIP" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "Second Nameserver (Back up)" %} </label>
                    <div class="col-sm-6">
                        <input name="secondNS"  type="text" class="form-control" ng-model="secondNS" required>
                    </div>
                    <div class="current-pack">ns2.example.com</div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "IP Address" %}</label>
                    <div class="col-sm-6">
                        <input  name="secondNSIP"  type="text" class="form-control" ng-model="secondNSIP" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                         <button type="button" ng-click="createNameserverFunc()" class="btn btn-primary btn-lg">{% trans "Create Nameserver" %}</button>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                            <div ng-hide="nameserverCreationFailed" class="alert alert-danger">
                                        <p>{% trans "Nameserver cannot be created. Error message:" %} {$ errorMessage $}</p>
                            </div>

                            <div ng-hide="nameserverCreated" class="alert alert-success">
                                <p>{% trans "The following nameservers were successfully created:" %} <br>

                                    <strong>{$ nameServerOne $}</strong> <br>
                                    <strong>{$ nameServerTwo $}</strong> <br>

                                </p>
                            </div>

                            <div ng-hide="couldNotConnect" class="alert alert-danger">
                                <p>{% trans "Could not connect to server. Please refresh this page." %}</p>
                            </div>


                    </div>



                </div>


            </form>


        {% endif %}




        </div>
    </div>
</div>



</div>


{% endblock %}
